.text {
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/ARCADE_N.TTF?fileID=12800000&guid=f08ae915995c0db4f9feee7e49baaec2&type=3#ARCADE_N');
    -unity-font-definition: initial;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.header {
    margin-left: 40px;
    margin-top: 70px;
    margin-right: 40px;
    width: auto;
    max-width: 400px;
    min-width: 400px;
}
